.banner-section{
  height: 100px;
  img{
    height: inherit;
    width: 100%;
    object-fit: cover;
  }
}
.nav-link{
  padding: 0px;
  .main-logo{
    width: 60%;
  }
}

.arrayImg{
  // margin-left: 10%;
  width: 100%;
  height: 125px;
  object-fit: cover;
  object-position: 0% 30%;
}
