
// #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
//     // color: #f3f3f3;
//     background-color: transparent;
//     border-color: transparent transparent #f3f3f3;
//     border-bottom: 4px solid !important;
//     font-size: 20px;
//     font-weight: bold;
// }
// #tabs .nav-tabs .nav-link {
//     // border: 1px solid transparent;
//     border-top-left-radius: .25rem;
//     border-top-right-radius: .25rem;
//     color: black;
//     font-size: 20px;
// }

.main-modal-section{
  height: 100%;
  overflow: scroll;

}
#nav-tab{
  background-color: #169BCC;
}
.nav-item{
  color: white;
}
.closeBar{
  color: white;
  font-size: 30px;
}
.modal-img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}


#navMap, #navDetails{
  height: 250px;
  width: 100vw;
}


.nav-item{
  color: white;
  background-color: #169BCC;
}
#navDetailsTab{
  border-right: solid 1px white;
}
#navMapTab{
  border-left: solid 1px white;
}

#modalContentBottom{
  background: white;
  height: 100%;
}

.food-select{
  display: inline-block;
}

.confirm-section{
  display: none;
  height: 100vh;
}
