.filter-tool-section{
  font-size: 12px;
}
#people{
  font-size: 12px;
}
#arraySection{
  font-size: 12px;
}
#resultsSummary{
  font-size: 12px;
}

.card-block{
  text-align: right;
}

#modalTitle{
  color: #169BCC;
  text-transform: capitalize;
}
.modal-location-text{
  color: #169BCC;
  text-transform: capitalize;
}
