@import 'reset';
@import 'images';
@import 'text';







// temporary style section
.filter-tool-content{
  background-color: #EEECED;
}
.booking-dropdown{
  border-left: solid #DEDEDE 2px;
}
#people{
  height: 30px;
  padding: 0px;
  color: black;
  border: none;
}


#startDate, #endDate{
  float: right;
  width: 100%;
  height: 30px;
  padding-left: 7px;
}

.btn{
  background-color: #169BCC;
  margin-top: 15px;
}

.card{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #DEDEDE 2px;
  margin-left: 10px;
  margin-right: 10px;
}

.myModal{
  display: none;
  z-index: 5;
  position: fixed;
  top: 40px;
  background-color: white;
  width: 100%;
  height: 200px;
}
