@import 'reset';
@import 'images';
@import 'text';







// temporary style section
.filter-tool-content{
  background-color: #EEECED;
}
.booking-dropdown{
  border-left: solid #DEDEDE 2px;
}
#people{
  height: 30px;
  padding: 0px;
  color: black;
  border: none;
}


#startDate, #endDate{
  float: right;
  width: 100%;
  height: 30px;
  padding-left: 7px;
}

#calcDate{
  background-color: #169BCC;
  margin-top: 15px;
}
